#walletImg {
    height: 40px;
    width: 40px;
    margin-right: 5px;
    transition: 2000ms ease-in-out;
}

#btn-con {
    text-align: center;
    display: inline;
}

#walletBtns {
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    font-size: 18px;
    height: 60px;
    box-shadow: 1px 1px 3px rgb(145, 145, 145);
    padding: 10px 30px;
    opacity: 90%;
    transition: 250ms ease-in;
    animation: 1s cubic-bezier(0, 0, 0, 1.27) 0s 1 slideInLeft;
}

#walletBtns:hover {
    font-size: 20px;
    box-shadow: 1px 5px 10px rgb(145, 145, 145);
    src: format();
    opacity: 100%;
    /* background-color: rgb(24, 150, 253); */
}

#walletBtns:hover #walletImg {
    transform: rotateX(360deg);
    height: 40px;
    width: 40px;
    /* background-color: rgb(24, 150, 253); */
}

#walletName {
    position: relative;
    bottom: 30%;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-500%);
    }
    100% {
      transform: translateX(0);
    }
}