#changeUsernameBtn {
    font-size: 12px;
    padding: 5px 10px;
    position: relative;
    top: 50%;
}

.nav-tabs {
    border-bottom: 1px solid #17cfcf;
    border-top-right-radius: 0;
}

.nav-tabs .nav-link {
    background:none;
    filter:none;
    box-shadow:none;
    border-radius: 3px 3px 0px 0px;
    transition: none;
    color: #acecdc;
    font-size: 20px;
}

.nav-tabs .nav-link:hover {
    border-color: #17cfcf;
    outline: none;
    transition: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.nav-tabs .nav-link.active{
    color: #17cfcf;
    background-color: #ebfbfb;
    border-bottom-color: #ebfbfb;
    border-top-color: #17cfcf;
    border-left-color: #17cfcf;
    border-right-color: #17cfcf;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tab-pane{
    /* background-color: rgba(255, 255, 255, 0.555);
    height: fit-content; */
    padding: 20px;
    /* border-radius: 5px 0px; */
}

.card{
    display: block;
    height: fit-content;
    width: fit-content;
    border: 1px solid #17cfcf;
}

/* .card-body {
    height: '75%';
    width: '75%';
    margin-right: '0px';
} */

#enlarge.modal-link {

}

#nftCard {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 30%;
    font-size: 11px;
    float: left;
}

#nft-image {
    padding: 9px;
    border: 1px solid transparent;
    border-radius: 15px;
}