#login_head {
    padding: 10px;
}

#login_name {
    font-size: 5rem;
    float: left;
    background: -webkit-linear-gradient(#17cfcf, #acecdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}