/*-----------------------------------------
// FIX THIS MESS
//-----------------------------------------*/

#geoImgStyle {
    position: fixed;
    top: 39%;
    left: 2%;
    height: 151.2px;
    width: 268.8px;
    animation: 1.5s cubic-bezier(0, 0, 0, 1.27) 0.2s 1 slideInLeft;
}

#geoImgStyle2 {
    position: fixed;
    top: 2%;
    right: 4%;
    height: 97.2px;
    width: 172.8px;
    animation: 1.75s cubic-bezier(0, 0, 0, 1.27) 0.35s 1 slideInLeft;
}

#geoImgStyle3 {
    position: fixed;
    top: 67%;
    right: 1%;
    height: 216px;
    width: 384px;
    animation: 1.5s cubic-bezier(0, 0, 0, 1.27) 0.5s 1 slideInLeft;
}

#geoImgStyle4 {
    position: fixed;
    top: 6%;
    left: 26.5%;
    height: 27px;
    width: 48px;
    animation: 1.5s cubic-bezier(0, 0, 0, 1.27) 0.2s 1 slideInLeft;
}

#ringImgStyle {
    position: fixed;
    top: 40%;
    left: 3%;
    height: 151.2px;
    width: 268.8px;
    animation: 1s cubic-bezier(0, 0, 0, 1.27) 0s 1 slideInLeft;
}

#ringImgStyle2 {
    position: fixed;
    top: 4%;
    right: 4%;
    height: 97.2px;
    width: 172.8px;
    animation: 1s cubic-bezier(0, 0, 0, 1.27) 0s 1 slideInLeft;
}

#ringImgStyle3 {
    position: fixed;
    top: 60%;
    right: 1%;
    height: 216px;
    width: 384px;
    animation: 1s cubic-bezier(0, 0, 0, 1.27) 0s 1 slideInLeft;
}

#ringImgStyle4 {
    position: fixed;
    rotate: 50deg;
    top: 6%;
    left: 25%;
    height: 43.2px;
    width: 76.8px;
    animation: 1s cubic-bezier(0, 0, 0, 1.27) 0s 1 slideInLeft;
}

#ring1 {
    position: fixed;
    rotate: 50deg;
    top: 3%;
    left: 21%;
    height: 43.2px;
    width: 76.8px;
    animation: 1s cubic-bezier(0, 0, 0, 1.27) 0s 1 slideInLeft;
}

#ring2 {
    position: fixed;
    rotate: 50deg;
    top: 5%;
    left: 21%;
    height: 43.2px;
    width: 76.8px;
    animation: 1s cubic-bezier(0, 0, 0, 1.27) 100ms 1 slideInLeft;
}

#ring3 {
    position: fixed;
    rotate: 50deg;
    top: 7%;
    left: 21%;
    height: 43.2px;
    width: 76.8px;
    animation: 1s cubic-bezier(0, 0, 0, 1.27) 200ms 1 slideInLeft;
}

/* #geoStyle {
    position: fixed;
}

#ringStyle {
    position: fixed;
} */

body:hover #geoImgStyle {
    animation: 2500ms infinite ease-in-out example;
}

body:hover #ringImgStyle {
    animation: 2485ms infinite ease-in-out example;
}

body:hover #geoImgStyle2 {
    animation: 2495ms infinite ease-in-out example;
}

body:hover #ringImgStyle2 {
    animation: 2480ms infinite ease-in-out example;
}

body:hover #geoImgStyle3 {
    animation: 2490ms infinite ease-in-out example;
}

body:hover #ringImgStyle3 {
    animation: 2475ms infinite ease-in-out example;
}

body:hover #ring1 {
    animation: 2480ms infinite ease-in-out example;
}

body:hover #ring2 {
    animation: 2500ms infinite ease-in-out example;
}

body:hover #ring3 {
    animation: 2520ms infinite ease-in-out example;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-500%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes example {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-20%);
    }
}