#dashCon {
    padding-top: 0px;
    text-align: center;
}


#navTop {
    padding: 5px 0px;
    display: inline;
    margin: 1px 1px;
    text-align: center;
    color: white;
    border: 5px solid rgb(255, 217, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: rgba(180, 87, 21, 0.658);
}


#navBtm {
    padding: 5px 0px;
    display: inline;
    margin: 1px 1px;
    text-align: center;
    color: white;
    border: 5px solid rgb(255, 217, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: rgba(180, 87, 21, 0.658);
}

a#walletLink.nav-link {
    padding: 15px;
    display: inline;
    margin: 1px 1px;
    text-align: center;
    color: white;
    border: 5px solid rgb(112, 56, 16);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: rgba(180, 87, 21, 0.658);
    transition: 500ms ease-in-out;
}

a#walletLink.nav-link:hover {
    background-color: rgb(112, 56, 16);
}


a#searchLink.nav-link {
    padding: 15px;
    display: inline;
    margin: 1px 1px;
    text-align: center;
    color: white;
    border: 5px solid rgb(126, 126, 126);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: rgba(126, 126, 126, 0.541);
    transition: 500ms ease-in-out;
}

a#searchLink.nav-link:hover {
    background-color: rgb(126, 126, 126);
}

a#txLink.nav-link {
    padding: 15px;
    display: inline;
    margin: 1px 1px;
    text-align: center;
    color: white;
    border: 5px solid rgb(0, 165, 41);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: rgba(51, 202, 88, 0.589);
    transition: 500ms ease-in-out;
}

a#txLink.nav-link:hover {
    background-color: rgb(0, 165, 41);
}

a#accountLink.nav-link {
    padding: 15px;
    display: inline;
    margin: 1px 1px;
    text-align: center;
    color: white;
    border: 5px solid rgb(0, 111, 185);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: rgba(49, 147, 212, 0.596);
    transition: 500ms ease-in-out;
}

a#accountLink.nav-link:hover {
    background-color: rgb(0, 111, 185);
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-500%);
    }
    100% {
      transform: translateX(0);
    }
}