#dashCon {
    padding-top: 0px;
    text-align: center;
}

#navTop {
    padding: 12px 0px;
    display: inline;
    margin: 1px 1px;
    text-align: center;
    color: white;
    border: 5px solid rgb(255, 217, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: rgba(255, 217, 0, 0.404);
}

#navBtm {
    padding: 12px 0px;
    display: inline;
    margin: 1px 1px;
    text-align: center;
    color: white;
    border: 5px solid rgb(255, 217, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: rgba(255, 217, 0, 0.404);
}

a#walletLink.nav-link {
    padding: 15px;
    display: inline;
    margin: 1px 5px;
    text-align: center;
    color: white;
    border: 5px solid rgb(159, 113, 89);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: rgba(159, 114, 89, 0.616);
    transition: 500ms ease-in-out;
}

a#walletLink.nav-link:hover {
    background-color: rgb(159, 113, 89);
}

a#searchLink.nav-link {
    padding: 15px;
    display: inline;
    margin: 1px 5px;
    text-align: center;
    color: white;
    border: 5px solid rgb(209, 209, 209);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: rgba(209, 209, 209, 0.568);
    transition: 500ms ease-in-out;
}

a#searchLink.nav-link:hover {
    background-color: rgb(209, 209, 209);
}

a#txLink.nav-link {
    padding: 15px;
    display: inline;
    margin: 1px 5px;
    text-align: center;
    color: white;
    border: 5px solid rgb(0, 165, 41);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: rgba(0, 165, 41, 0.507);
    transition: 500ms ease-in-out;
}

a#txLink.nav-link:hover {
    background-color: rgb(0, 165, 41);
}

a#accountLink.nav-link {
    padding: 15px;
    display: inline;
    margin: 1px 5px;
    text-align: center;
    color: white;
    border: 5px solid rgb(0, 111, 185);
    box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 5px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: rgba(0, 111, 185, 0.507);
    transition: 500ms ease-in-out;
}

a#accountLink.nav-link:hover {
    background-color: rgb(0, 111, 185);
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-500%);
    }
    100% {
      transform: translateX(0);
    }
}